$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden{
  display: none;
}

html{
 font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

.container{
  background-color:white;
  height: 100vh;
  max-width: 430px;
}
/* Custom page header */
.header {
  background-color: #0080C6;
  text-align: center;
  h3{
    height: 50px;
    line-height: 50px;
    margin: 0px;
    color:white;
    font-size: 20px;
    font-weight: 400;
  }
}

main{
  padding-top: 20px;

  input{
    height: 38px;
    font-size: 14px;
    font-weight: 200;
    padding-left:7px;
  }
}

.form-group{
  label{
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
  }
  input{
    width: 100%;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 430px;
  }

}
